<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testNgTFF.addUserTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyUrl</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>homePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyTitle</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testNgTFF.updateUserTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyUrl_Title</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>editUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>homePage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testNgTFF.AssignManagerTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>filter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>userStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchField</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
