<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd6edd">  <td>22/01/24 15:37:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addUserTest.addUser()[pri:4, instance:testNgTFF.addUserTest@74e52303]">addUser</td> 
  <td>main@129153987</td>   <td></td> </tr>
<tr bgcolor="98b989">  <td>22/01/24 15:37:41</td>   <td>-32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="updateUserTest.homePage()[pri:2, instance:testNgTFF.updateUserTest@15ff3e9e]">homePage</td> 
  <td>main@129153987</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>22/01/24 15:37:41</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addUserTest.logIn()[pri:2, instance:testNgTFF.addUserTest@74e52303]">logIn</td> 
  <td>main@129153987</td>   <td></td> </tr>
<tr bgcolor="98b989">  <td>22/01/24 15:37:41</td>   <td>-26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="updateUserTest.editUser()[pri:3, instance:testNgTFF.updateUserTest@15ff3e9e]">editUser</td> 
  <td>main@129153987</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>22/01/24 15:37:41</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addUserTest.verifyTitle()[pri:1, instance:testNgTFF.addUserTest@74e52303]">verifyTitle</td> 
  <td>main@129153987</td>   <td></td> </tr>
<tr bgcolor="98b989">  <td>22/01/24 15:37:41</td>   <td>22</td> <td>&nbsp;</td><td title="&lt;&lt;updateUserTest.closeBrowser()[pri:0, instance:testNgTFF.updateUserTest@15ff3e9e]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>22/01/24 15:37:41</td>   <td>-20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addUserTest.verifyUrl()[pri:0, instance:testNgTFF.addUserTest@74e52303]">verifyUrl</td> 
  <td>main@129153987</td>   <td></td> </tr>
<tr bgcolor="a3cd93">  <td>22/01/24 15:37:41</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssignManagerTest.searchField()[pri:3, instance:testNgTFF.AssignManagerTest@47af7f3d]">searchField</td> 
  <td>main@129153987</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>22/01/24 15:37:41</td>   <td>21</td> <td>&nbsp;</td><td title="&lt;&lt;addUserTest.closeBrowser()[pri:0, instance:testNgTFF.addUserTest@74e52303]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="a3cd93">  <td>22/01/24 15:37:11</td>   <td>-29766</td> <td>&nbsp;</td><td title="&gt;&gt;AssignManagerTest.beforeClass()[pri:0, instance:testNgTFF.AssignManagerTest@47af7f3d]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@129153987</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>22/01/24 15:37:41</td>   <td>-95</td> <td>&nbsp;</td><td title="&gt;&gt;addUserTest.beforeClass()[pri:0, instance:testNgTFF.addUserTest@74e52303]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="98b989">  <td>22/01/24 15:37:41</td>   <td>-52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="updateUserTest.verifyUrl_Title()[pri:0, instance:testNgTFF.updateUserTest@15ff3e9e]">verifyUrl_Title</td> 
  <td>main@129153987</td>   <td></td> </tr>
<tr bgcolor="98b989">  <td>22/01/24 15:37:41</td>   <td>-93</td> <td>&nbsp;</td><td title="&gt;&gt;updateUserTest.beforeClass()[pri:0, instance:testNgTFF.updateUserTest@15ff3e9e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>22/01/24 15:37:41</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addUserTest.homePage()[pri:3, instance:testNgTFF.addUserTest@74e52303]">homePage</td> 
  <td>main@129153987</td>   <td></td> </tr>
<tr bgcolor="a3cd93">  <td>22/01/24 15:37:41</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssignManagerTest.userStatus()[pri:4, instance:testNgTFF.AssignManagerTest@47af7f3d]">userStatus</td> 
  <td>main@129153987</td>   <td></td> </tr>
<tr bgcolor="a3cd93">  <td>22/01/24 15:37:41</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssignManagerTest.filter()[pri:4, instance:testNgTFF.AssignManagerTest@47af7f3d]">filter</td> 
  <td>main@129153987</td>   <td></td> </tr>
<tr bgcolor="98b989">  <td>22/01/24 15:37:41</td>   <td>-40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="updateUserTest.logIn()[pri:1, instance:testNgTFF.updateUserTest@15ff3e9e]">logIn</td> 
  <td>main@129153987</td>   <td></td> </tr>
</table>
