<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76738a">  <td>22/04/04 10:01:46</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;newCustomerTest.beforeTest()[pri:0, instance:myCustomerTestNg.newCustomerTest@72e5a8e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1949298838</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>22/04/04 10:02:03</td>   <td>17166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="newCustomerTest.myCustomerTest()[pri:0, instance:myCustomerTestNg.newCustomerTest@72e5a8e]">myCustomerTest</td> 
  <td>main@1949298838</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>22/04/04 10:02:08</td>   <td>22284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="newCustomerTest.newCustomer()[pri:2, instance:myCustomerTestNg.newCustomerTest@72e5a8e]">newCustomer</td> 
  <td>main@1949298838</td>   <td></td> </tr>
</table>
